body {
    padding-top: 20px;
  }
  
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}
  
.navbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
    border: 1px solid #e5e5e5;
}
  
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    .navbar-nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  
    .navbar-nav .nav-item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
    }

    .masthead,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
}
  
/* Todo list */
.done-true {
    text-decoration: line-through;
    color: grey;
}

.intro {
    margin-top: 30px;
}

/* Examples */
.exampleView.ng-animate {
    transition: all ease 0.4s;
    position: absolute;
  }
  
  .exampleView.ng-enter {
    top: 200px;
    opacity: 0;
  }
  
  .exampleView.ng-leave,
  .example-view.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
  }
  
  .exampleView.ng-leave.ng-leave-active {
    top: -200px;
    opacity: 0;
  }

  /* game */
  .roll-button {
    max-width: 50%;
  }